{
  "imagekit": {
    "uid": "4oMiy0W39c8hTzmNM2iRqB0vwyo7",
    "imagekit_public_key": "public_xCpfkfpVFHfJJey9mUQ2O4A9m/I=",
    "origin_url": "http://localhost",
    "imagekit_id": "5dqkfgfdsa",
    "imagekit_private_key": "private_fcDsRBr5wkBLi/wCzgfpgcTt4m8="
  }
}
